<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>413156067606-fmju2dpbdlh33fob5scoue709779ts7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413156067606-fmju2dpbdlh33fob5scoue709779ts7m</string>
	<key>API_KEY</key>
	<string>AIzaSyARb5Etn3Y_BYC-4aaR_PB0XxH85bSkJSw</string>
	<key>GCM_SENDER_ID</key>
	<string>413156067606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terainsights.a2Q2R</string>
	<key>PROJECT_ID</key>
	<string>q2r-65607</string>
	<key>STORAGE_BUCKET</key>
	<string>q2r-65607.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:413156067606:ios:4d400992b6eb87a7</string>
	<key>DATABASE_URL</key>
	<string>https://q2r-65607.firebaseio.com</string>
</dict>
</plist>